<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<textarea readonly rows="10" aria-disabled="true" style="resize: none"></textarea>
</br>
</br>
<input name="message" aria-valuetext="Name" placeholder="Type your message here">
</br>
</br>
<button type="submit">Отправить сообщение</button>
</br>
</br>
<button type="submit">Выйти из аккаунта</button>

</body>
</html>